/* ============================================================*/

body {
	background-color: #0B3866;
}

/* ============================================================*/

.Head {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	width: 98%;
	height: 100px;
	align-items: center;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 0 20px;
	background-color: transparent;
	position: absolute;
	top: 1%;
}

/* ============================================================*/

.Left {
	display: flex;
	justify-content: flex-start;
	gap: 15px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 20px;

	font-family: 'CoffeeBread', cursive;
	font-size: 50px;
	color: #95F9C3;



}

.Left:hover {
	text-shadow:
		0 0 2.5px #fff,
		0 0 2.5px #0fa,
		0 0 10px #0fa,
		0 0 20px #0fa;
}

.Left img {
	border-radius: 20px;

}

.Left img:hover {
	height: 80px;
	width: 80px;

}

/* ============================================================*/


.Gtext {
	color: darkcyan;
	font-size: 30px;
	position: absolute;
	top: -26%;
	left: 18%;
	z-index: 5;

}

.Gtext:hover {
	text-shadow:
		0 0 2.5px #fff,
		0 0 2.5px #0fa,
		0 0 10px #0fa,
		0 0 20px #0fa;

}

.right {

	display: flex;
	align-content: right;
	justify-content: flex-end;
	gap: 30px;
	align-items: right;

}

/* ============================================================*/

.about {
	padding: 8px 16px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: 0.3s;

}

.about:hover {

	font-weight: bold;
	text-shadow:
		0 0 5px #fff,
		0 0 10px #0fa,
		0 0 20px #0fa,
		0 0 40px #0fa;
}

/* ============================================================*/

.contact {
	padding: 8px 16px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: 0.3s;

}

.contact:hover {

	font-weight: bold;
	text-shadow:
		0 0 5px #fff,
		0 0 10px #0fa,
		0 0 20px #0fa,
		0 0 40px #0fa;
}

/* ============================================================*/

.Joinnow {
	padding: 8px 16px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: 0.3s;

}

.Joinnow:hover {

	font-weight: bold;
	text-shadow:
		0 0 5px #fff,
		0 0 10px #0fa,
		0 0 20px #0fa,
		0 0 40px #0fa;
}

/* ============================================================*/


.wrapper {
	height: 440px;
	width: 600px;
	display: flex;
	gap: 2px;
	box-sizing: border-box;
	padding: 0 20px;


	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.FIGS {
	position: relative;
	z-index: 4;
	height: 100%;
	flex: 1;
	cursor: pointer;
	transition: 0.4s ease;
}

.FIGS img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	filter: grayscale(1);
	transition: 0.4s ease;

}

.FIGS:hover {
	flex: 4;

}

.FIGS:hover img {
	filter: grayscale(0);
}

/* ============================================================*/

@font-face {
	font-family: 'CoffeeBread';
	src: url('fonts/CoffeeBread.ttf') format('truetype');
}

/* ============================================================*/

.Footer {
	display: flex;
	border-radius: 20px;
	background-color: #36454F;
	gap: 1px;
	position: absolute;
	top: 250%;
	color: white;
	width: 98%;
	height: 200px;

}

.Footer img {
	border-radius: 20px;
	align-items: center;
	position: absolute;
	left: 1%;
	top: 4%;
}

.fttext {
	color: #C0C0C0;
	position: absolute;
	top: 20%;
	left: 80%;
	font-size: 20px;
	line-height: 1.6;
}

h2 {
	color: #ADD8E6;
	font-size: 40px;
	position: absolute;
	top: -13%;
	left: 80%;

}

/* ============================================================*/


.Self1 {
	z-index: 4;
	background-color: #6FADEB;
	border-radius: 20px;
	color: black;
	width: 96%;
	height: 500px;
	position: absolute;
	left: 2%;
	top: 20%;
}

/* ============================================================*/

.Self2 {
	z-index: 4;
	background-color: #6FADEB;
	border-radius: 20px;
	color: black;
	width: 96%;
	height: 500px;
	position: absolute;
	left: 2%;
	top: 180%;
}

/* ============================================================*/

.BKLN {
	position: absolute;
	z-index: 2;
	background-color: white;
	top: 25%;
	left: 50%;
	border-radius: 20px;
	height: 50px;
	width: 125%;
	background-color: hsl(48, 82%, 51%);

}

.BKLNN {
	position: absolute;
	z-index: 1;
	top: 60%;
	left: 50%;
	border-radius: 20px;
	height: 50px;
	width: 125%;
	background-color: hsl(48, 82%, 51%);
}

.BKLN2 {
	position: absolute;
	z-index: 2;
	background-color: white;
	top: 25%;
	left: -75%;
	border-radius: 20px;
	height: 50px;
	width: 125%;
	background-color: hsl(48, 82%, 51%);

}

.BKLNN2 {
	position: absolute;
	z-index: 1;
	top: 60%;
	left: -75%;
	border-radius: 20px;
	height: 50px;
	width: 125%;
	background-color: hsl(48, 82%, 51%);
}

/* ============================================================*/

.lineS {
	position: absolute;
	z-index: 4;
	top: 60%;
	left: 30%;
	transform: translate(-134%, 650%);
	height: 10px;
	width: 200px;
	background-color: hsl(0, 0%, 0%);
	border-radius: 20px;
}

.halfcircle {
	position: absolute;
	z-index: 4;
	width: 100px;
	height: 50px;
	top: 40%;
	left: 30%;
	transform: translate(-214%, 238%);
	background-color: hsl(0, 0%, 0%);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* ============================================================*/

.Abtext {
	position: absolute;
	z-index: 6;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 45%);
	font-size: 80px;
	font-weight: bold;
	color: hsl(0, 0%, 0%);
	font-family: 'CoffeeBread', cursive;
	animation: ToleftTop 3s forwards;
	cursor: pointer;
}

.Abtext::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0%;
	height: 5px;
	background: #00f2ff;
	box-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff;
	transition: 0.4s ease;
	border-radius: 5px;
}

.Abtext:hover::after {
	width: 100%;
}

@keyframes ToleftTop {
	0% {
		transform: translate(-50%, 45%);
		font-size: 80px;

	}

	10% {
		transform: translate(-50%, 45%);
		font-size: 80px;

	}

	20% {
		transform: translate(-50%, 45%);
		font-size: 80px;

	}

	30% {
		transform: translate(-50%, 45%);
		font-size: 80px;

	}

	100% {
		transform: translate(100%, -260%);
		font-size: 45px;
	}
}

/* ============================================================*/


.pho1 {
	position: absolute;
	z-index: 3;
	top: 40%;
	left: 30%;
	transform: translate(-214%, 109%);
	animation: moveUp 3s forwards;

}

.pho1 img {
	border-radius: 20px;
	width: 100px;
	height: 100px;
}



@keyframes moveUp {
	0% {
		transform: translate(-214%, 109%);
	}

	10% {
		transform: translate(-214%, 109%);
	}

	20% {
		transform: translate(-214%, 109%);
	}

	30% {
		transform: translate(-214%, 109%);
	}

	40% {
		transform: translate(-214%, 109%);
	}

	100% {
		transform: translate(-214%, -60%);
	}
}

/* ============================================================*/

.pho2 {
	position: absolute;
	z-index: 3;
	top: 40%;
	left: 30%;
	transform: translate(-214%, 109%);
	animation: moveUpLeft 3s forwards;

}

.pho2 img {
	border-radius: 20px;
	width: 100px;
	height: 100px;
}



@keyframes moveUpLeft {
	0% {
		transform: translate(-214%, 109%);
	}

	10% {
		transform: translate(-214%, 109%);
	}

	20% {
		transform: translate(-214%, 109%);
	}

	30% {
		transform: translate(-214%, 109%);
	}

	40% {
		transform: translate(-214%, 109%);
	}

	100% {
		transform: translate(-298%, -20%);

	}
}

/* ============================================================*/

.pho3 {
	position: absolute;
	z-index: 3;
	top: 40%;
	left: 30%;
	transform: translate(-255%, 149%);
	animation: moveUpRight 3s forwards;

}

.pho3 img {
	border-radius: 20px;
	width: 80px;
	height: 80px;
}

@keyframes moveUpRight {
	
	0% {
		transform: translate(-255%, 149%);
	}

	10% {
		transform: translate(-255%, 149%);
	}

	20% {
		transform: translate(-255%, 149%);
	}

	30% {
		transform: translate(-255%, 149%);
	}

	40% {
		transform: translate(-255%, 149%);
	}


	100% {
		transform: translate(-150%, -14%);

	}
}

/* ============================================================*/
.Rights {
	position: absolute;
	z-index: 6;
	top: 80%;
	left: 40%;
	color: rgb(0, 0, 0);
}

/* ============================================================*/
.Box1 {
	position: absolute;
	z-index: 5;
	top: 60%;
	left: 30%;
	transform: translate(-134%, 75%);
	height: 100px;
	width: 200px;
	background-color: #6FADEB;
	border-radius: 20px;
}

/* ============================================================*/
.ABINFO {
	background-color: #ffffff;
	position: absolute;
	z-index: 5;
	top: 25%;
	left: 10%;
	transform: translate(104%, -10%);
	height: 60%;
	width: 40%;
	padding: 25px;
	border-radius: 15px;
	font-size: 20px;
	line-height: 1.8;
	color: #333;
	text-align: justify;       
	text-indent: 30px;         
}


/* ============================================================*/
.Soon {
	position: absolute;
	z-index: 6;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 45%);
	font-size: 80px;
	font-weight: bold;
	color: hsl(0, 0%, 0%);
	font-family: 'CoffeeBread', cursive;
	cursor: pointer;
}